{{#bs-tab as |tab|}}
  {{#tab.pane title="Mapa"}}
    {{#if showMap}}
      {{#g-map lat=cityPosition.lat lng=cityPosition.lng zoom=12 mapTypeId='satellite' onLoad=(action "onLoad") as |g|}}
        {{#each filteredOrders as |o|}}
          {{g.marker lat=o.lat lng=o.lng  draggable=false onClick=(action "onClick" o)}}
        {{/each}}
      {{/g-map}}
    {{/if}}
    {{input value=datetimeRappi}}
    <br/>
    {{#power-select
      placeholder="Vehiculo"
      selected=selectedVehicle
      options=vehicle
      onchange=(action (mut selectedVehicle))
    as |option|
    }}
      {{option.name}}
    {{/power-select}}
    <br/>
    {{#power-select
      placeholder="Tamaño Maleta"
      selected=selectedKitsize
      options=kitSize
      onchange=(action (mut selectedKitsize))
    as |option|
    }}
      {{option.name}}
    {{/power-select}}
    <br/>
    {{#power-select
      placeholder="Sabe del Negocio"
      selected=selectedKnowHow
      options=knowHow
      onchange=(action (mut selectedKnowHow))
    as |option|
    }}
      {{option.name}}
    {{/power-select}}
    <br/>
    {{#power-select
      placeholder="Confianza"
      selected=selectedTrusted
      options=trusted
      onchange=(action (mut selectedTrusted))
    as |option|
    }}
      {{option.name}}
    {{/power-select}}
    <br/>
    {{#power-select
      placeholder="Datafono"
      selected=selectedTerminal
      options=terminal
      onchange=(action (mut selectedTerminal))
    as |option|
    }}
      {{option.name}}
    {{/power-select}}
    <br/>
    {{#power-select
      placeholder="Nivel de la orden"
      selected=selectedOrderLevel
      options=orderLevel
      onchange=(action (mut selectedOrderLevel))
    as |option|
    }}
      {{option.name}}
    {{/power-select}}
    <br/>
    {{#power-select
      placeholder="Kit de Entrega"
      selected=selectedDeliveryKit
      options=deliveryKit
      onchange=(action (mut selectedDeliveryKit))
    as |option|
    }}
      {{option.name}}
    {{/power-select}}
    <br/>
    {{#power-select
      placeholder="Nivel rappitendero"
      selected=selectedStorekeeperLevel
      options=storekeeperLevel
      onchange=(action (mut selectedStorekeeperLevel))
    as |option|
    }}
      {{option.name}}
    {{/power-select}}
  {{/tab.pane}}
{{/bs-tab}}